<nav class="navbar navbar-expand-md navbar-dark fixed-top privilege" style="background-color: #0062cc"
  style="display: none">
  <div class="navbar-brand mb-0 h1">

    <a href="/" class="navbar-brand">
      <img src="/images/rho-pi.png" width="36" height="auto" class="d-inline-block align-middle">
    </a>
    <a href="/home" class="navbar-brand"><span>Content Management System</span></a>
  </div>
  <!-- <a href="/home" class="navbar-brand mb-0 h3 d-none">Content Management System</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="homeTab">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item" id="dataTab">
        <a class="nav-link" href="/data">Data</a>
      </li>
      <li class="nav-item" id="dataDateTab">
        <a class="nav-link" href="/data-date">Data Date</a>
      </li>
      <li class="nav-item" id="mapsTab">
        <a class="nav-link" href="/maps">Maps</a>
      </li>
    </ul>

    <a role="button" class="btn btn-info" href="/logout" id="logout">Logout</a>
  </div>
</nav>