<!DOCTYPE html>
<html>

<head>
  <title>Content Management System | Dashboard</title>
  <%include ./partials/head%>
</head>

<body class="full-body body-dashboard">
  <div class="container align-content-center container-dashboard">
    <div class="card bg-transparent" id="card">
      <h3 class="card-header bg-dark text-white">
        <i class="fa fa-bookmark mr-2" aria-hidden="true"></i>Dashboard
      </h3>
      <div class="card-body">
        <a role="button" class="d-flex justify-content-center btn btn-danger my-2" href="line">
          <div class="d-flex justify-content-center flex-column">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            Line
          </div>
        </a>
        <a role="button" class="d-flex justify-content-center btn btn-secondary my-2" href="pie">
          <div class="d-flex justify-content-center flex-column">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            Pie
          </div>
        </a>
        <a role="button" class="d-flex justify-content-center btn btn-primary my-2" href="bar">
          <div class="d-flex justify-content-center flex-column">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Bar
          </div>
        </a>
        <a role="button" class="d-flex justify-content-center btn btn-success my-2" href="map">
          <div class="d-flex justify-content-center flex-column">
            <i class="fa fa-globe" aria-hidden="true"></i>
            Maps
          </div>
        </a>
        <a role="button" class="d-flex justify-content-center btn btn-info my-2" href="login">
          <i class="fa fa-user my-auto mr-2" aria-hidden="true"></i> <span>Admin Panel</span>
        </a>
      </div>
    </div>
  </div>
  <% include ./partials/scripts %>
  <script type="text/javascript" src="/javascripts/change-height.js"></script>
</body>

</html>